body{
    background-color: rgb(216, 207, 207);
    color: rgb(161, 154, 154);
    margin-left: 35px;
    margin-bottom: 28px;
}
h1{
    color:black;
}
.bloqueAzul{
    background-color: blue;
    color: white;
}
.bloqueAzul h1{
    color: white;
}
#rango{
    border-radius: 2px;
    width: 50%;;
    background: yellow;
    -webkit-appearance: button;
    height: 8px;
}

.contenido .slider{
    background-color: yellow;
}
.Mozzarella{
    width: 100%;
}


.grupoImag1, .grupoImag2, .grupoImag3, .grupoImag4{
    display: inline-block;
}
.ingredientes img{
    margin-right: 60px;
}
.ingredientes input{
    margin-left: 60px;
}
.ingredientes p{
    margin-left: 30px;
}
.pina p, .atun p, .york p,.maiz p, .pollo p{
    margin-left: 50px;
}
aside{
    float: right;
    margin-top: -960px;
}
aside img{
    height: 300px;
    width: 300px;
}
aside button{
    background-color: red;
    float: right;
    margin-top: -70px;
    margin-right: 60px;
    font-size: larger;
}
.money{
    font-size: 40px;
    color: black;
    font-weight: bold;
}
