body{
    background-color: rgb(231, 224, 214);
    color: grey;
}
h1{
    color:black;
}
.bloqueAzul{
    background-color: blue;
    color: white;
}
.bloqueAzul h1{
    color: white;
}
#rango{
    border-radius: 2px;
    width: 50%;;
    background: yellow;
    -webkit-appearance: button;
}

.contenido .slider{
    background-color: yellow;
}
.Mozzarella{
    width: 100%;
}


.grupoImag1, .grupoImag2, .grupoImag3, .grupoImag4{
    display: inline-block;
}
